<nav class="navbar fixed-bottom justify-content-center navbar-dark" style="background-color: #563d7c">
	<a class="navbar-brand app-nav" href="/">首页</a>
	<a class="navbar-brand app-nav" href="/notifications">消息
	    <span id="notificationCount" class="badge badge-light align-text-top"><% unless @notifications_noread.empty? %><%= @notifications_noread.size %><% end %></span>
	</a>
	<a class="navbar-brand app-nav" href="http://cy2017.net" target="_blank">总院</a>	
	<a class="navbar-brand app-nav" href="/my">我的</a>
    </nav>

    <div class="row justify-content-center">
	<div class="col-6 col-sm-6 col-md-5 col-lg-6">
	   <h3> 仙子</h3>
	   <p><img src="/images/box.png" class="img-fluid app-box" alt="Responsive image"></p>
	   <h5>
		   数量:<span id="cardMaleCount"><%= @card_male_count %></span>
	   </h5>
	   <% if @user_sex == "male" %>
	       <% if @user_state == 0 %>
		   <p><button id="pushCardButton" type="button" class="btn btn-primary" onclick="pushCard(this, 'male')">我要放牌</button></p>
	       <% else %>
		   <% if @user_state == -1 %>
		       <p><button id="reMaleCardButton" type="button" class="btn btn-primary" onclick="reCard(this, 'male')">我要退牌</button></p>
		   <% else %>
		       <% if @card_owner_id.empty? %>
			   <p><button id="reMaleCardButton" type="button" class="btn btn-primary" onclick="reCard(this, 'male')" disabled>我要退牌</button></p>
		       <% else %>
			   <p><button id="pushCardButton" type="button" class="btn btn-primary" onclick="pushCard(this, 'male')" disabled>我要放牌</button></p>			       
		       <% end %>
		   <% end %>
	       <% end %>
	   <% else %>
	       <% if @user_state == 0 and @can_pull %>
		   <% if @card_male_count == 0 %>
		       <p><button id="pullMaleCardButton" type="button" class="btn btn-primary" onclick="pullCard(this,'male')" disabled>我要翻牌</button></p>
		   <% else %>
		       <p><button id="pullMaleCardButton" type="button" class="btn btn-primary" onclick="pullCard(this, 'male')">我要翻牌</button></p>			   
		   <% end %>
	       <% else %>
		   <p><button id="pullMaleCardButton" type="button" class="btn btn-primary" onclick="pullCard(this, 'male')" disabled>我要翻牌</button></p>		       
	       <% end %>
	       <div class="app-pull-notification">
		   <% if @can_pull %>
		       <h6>翻牌啦</h6>
		   <% else %>
		       <h6>
			   <p>20:00~24:00开牌</p>
			   <p><span class="app-time"></span></p>			   
		       </h6>
		   <% end %>
	       </div>
	   <% end %>
	</div>
	<div class="col-6 col-sm-6 col-md-5 col-lg-6">
	    <h3>仙女</h3>
	    <p> <img src="/images/box.png" class="img-fluid app-box" alt="Responsive image"></p>
	    <h5 >
		数量:<span id="cardFemaleCount"><%= @card_female_count %></span>
	    </h5>
	    <% if @user_sex == "male" %>
		<% if @user_state == 0 and @can_pull %>
		    <% if @card_female_count == 0 %>
			<p><button id="pullFemaleCardButton" type="button" class="btn btn-primary" onclick="pullCard(this, 'female')" disabled>我要翻牌</button></p>
		    <% else %>
			<p><button id="pullFemaleCardButton" type="button" class="btn btn-primary" onclick="pullCard(this, 'female')">我要翻牌</button></p>			   
		    <% end %>
		<% else %>
		    <p><button id="pullFemaleCardButton" type="button" class="btn btn-primary" onclick="pullCard(this, 'female')" disabled>我要翻牌</button></p>		       
		<% end %>
	       <div class="app-pull-notification">
		   <% if @can_pull %>
		       <h6>翻牌啦</h6>
		   <% else %>
		       <h6>
			   <p>20:00~24:00开牌</p>
			   <p><span class="app-time"></span></p>
		       </h6>		       
		   <% end %>
	       </div>		
	    <% else %>
		<% if @user_state == 0 %>
		    <p><button id="pushCardButton" type="button" class="btn btn-primary" onclick="pushCard(this, 'female')">我要放牌</button></p>
		<% else %>
		   <% if @user_state == -1 %>
		       <p><button id="reFemaleCardButton" type="button" class="btn btn-primary" onclick="reCard(this, 'female')">我要退牌</button></p>
		   <% else %>
		       <% if @card_owner_id.empty? %>
			   <p><button id="reFemaleCardButton" type="button" class="btn btn-primary" onclick="reCard(this, 'female')" disabled>我要退牌</button></p>		       
		       <% else %>
			   <p><button id="pushCardButton" type="button" class="btn btn-primary" onclick="pushCard(this, 'female')" disabled>我要放牌</button></p>			       
		       <% end %>
		   <% end %>		    
		<% end %>
		<% end %>
	</div>
    </div>


    <div class="row justify-content-center" >
	<% if @card_owner_id.empty? %>
	    <div class="app-actions" style="display: none">
	<% else %>
	    <div class="app-actions">
	<% end %>
	    <% if @user_state == 2 %>
		<button id="sendTeaButton" type="button" class="btn btn-primary" disabled>送茶</button>
		<button id="datingButton" type="button" class="btn btn-primary" disabled>约会</button>		
	    <% else %>
		<button id="sendTeaButton" type="button" class="btn btn-primary" onclick="sendTeaDialog()">送茶</button>
		<button id="datingButton" type="button" class="btn btn-primary" onclick="datingDialog()">约会</button>
	    <% end %>
	</div>
    </div>


    <div class="row justify-content-center" >
	<% if @card_box_id == 0 %>
	    <div class="notification-message" style="display: none">
	<% else %>
	    <div class="notification-message" >		
	<% end %>
	<h4>
	    <% if @user_state == -1 %>
		待约
	    <% elsif @user_state == 1 or @user_state == 2 %>
		有约
		<% end %>
	</h4>
	</div>

    </div>
    
    <div class="row">
	<% if @card_box_id == 0 %>
	    <% if @card_owner_id.empty? %>
		<div class="flip-container" ontouchstart="this.classList.toggle('hover');">
	    <% else %>
		    <div class="flip-container" ontouchstart="this.classList.toggle('hover');" style="left:-120px">		    
	    <% end %>
	<% else %>
	    <div class="flip-container" ontouchstart="this.classList.toggle('hover');" style="display: none">		
	<% end %>
	    <div class="flippable appcon ac-first app-card1">
		<div class="front">
		    <i class="fa fa-plane"></i>
		</div>
		<div class="back">
		    <%= @user_username %>
		</div>
	    </div>
	</div>

	<% if @user_state == 0 or @user_state == -1 or @card_owner_id.empty? %>
	    <div class="flip-container" ontouchstart="this.classList.toggle('hover');"  style="display: none">	    
	<% else %>
	    <div class="flip-container" ontouchstart="this.classList.toggle('hover');" style="left:120px">
	<% end %>
	    <div class="flippable appcon ac-second">
		<div class="front">
		    <i class="fa fa-plane"></i>
		</div>
		<div class="back">
		    <% unless @card_owner_id.empty? %>
			<%= @card_owner_username %>
		    <% end %>
		</div>
	    </div>
	</div>
	
    </div>

    <% if @user_state == 0 or @user_state == -1 or @card_owner_id.empty? %>
	<div class="modal fade" id="appSendTeaDialog" tabindex="-1" role="dialog" aria-labelledby="dialogMessageTitle" aria-hidden="true" style="display:none">
    <% else %>
	<div class="modal fade" id="appSendTeaDialog" tabindex="-1" role="dialog" aria-labelledby="dialogMessageTitle" aria-hidden="true" >	    
    <% end %>
	    <div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content">
		    <div class="modal-header">
			<h5 class="modal-title" id="modalCenterTitle">提示</h5>
			<button type="button" class="close" data-dismiss="modal" aria-label="Close">
			    <span aria-hidden="true">&times;</span>
			</button>
		    </div>
		    <div class="modal-body">
			
		    </div>
		    <div class="modal-footer">
			<button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
			<button type="button" class="btn btn-primary" onclick="sendTea('<%=@card_owner_username %>')" data-dismiss="modal">确定</button>
		    </div>
		</div>
	    </div>
	</div>

	    <% if @user_state == 0 or @user_state == -1 or @card_owner_id.empty? %>
		<div class="modal fade" id="appDatingDialog" tabindex="-1" role="dialog" aria-labelledby="dialogMessageTitle" aria-hidden="true" style="display:none">
	    <% else %>
		<div class="modal fade" id="appDatingDialog" tabindex="-1" role="dialog" aria-labelledby="dialogMessageTitle" aria-hidden="true">		    
		    <% end %>
	    <div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content">
		    <div class="modal-header">
			<h5 class="modal-title" id="modalCenterTitle">提示</h5>
			<button type="button" class="close" data-dismiss="modal" aria-label="Close">
			    <span aria-hidden="true">&times;</span>
			</button>
		    </div>
		    <div class="modal-body">
			
		    </div>
		    <div class="modal-footer">
			<button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
			<button type="button" class="btn btn-primary dating-button" onclick="dating('<%= @card_owner_username unless @card_owner_id.empty? %>')" data-dismiss="modal">确定</button>
		    </div>
		</div>
	    </div>
	</div>



    <div class="spinner-border text-primary app-loader" role="status" style="display:none">
	<span class="sr-only">Loading...</span>
    </div>

    <audio id="appNotificationAudio"><source src="music/notification.mp3" type="audio/mpeg"></audio>
