<div class="row">
    <form class="form-sign" method="POST">
	<img class="mb-4" src="/images/heart.svg" alt="" width="72" height="72">
	<h1 class="h3 mb-3 font-weight-normal"><%= I18n.t('form.sign_up') %></h1>
	<label for="inputEmail" class="sr-only"><%= I18n.t('form.username') %></label>
	<input type="username" id="inputUsername" name="username" class="form-control" placeholder="<%= I18n.t('form.username') %>" style="margin-bottom: 10px" required autofocus>
	<label for="inputPassword" class="sr-only"><%= I18n.t('form.password') %></label>
	<input type="password" id="inputPassword1" name="password1" class="form-control" placeholder="<%= I18n.t('form.password') %>" required>
	<label for="inputPassword" class="sr-only"><%= I18n.t('form.confirm_password') %></label>
	<input type="password" id="inputPassword2" name="password2" class="form-control" placeholder="<%= I18n.t('form.confirm_password') %>" required>
	<div class="d-flex justify-content-start">
	    <div class="form-check form-check-inline">
		<input class="form-check-input" type="radio" name="sex" id="inputSex1" value="female" checked>
		<label class="form-check-label" for="inlineRadio1"><%= I18n.t('form.sex')[1] %></label>
	    </div>
	    <div class="form-check form-check-inline">
		<input class="form-check-input" type="radio" name="sex" id="inputSex2" value="male">
		<label class="form-check-label" for="inlineRadio2"><%= I18n.t('form.sex')[0] %></label>
	    </div>
	</div>
	<button class="btn btn-primary btn-block" type="submit" style="margin-bottom:10px; margin-top:10px"><%= I18n.t('form.sign_up') %></button>
	<a href="/signin"><button type="button" class="btn btn-primary btn-block" ><%= I18n.t('form.sign_in') %></button></a>
    </form>
</div>
